.awards-achivement {
	padding-top: 50px;
	text-align: center;
	h2 {
		@include header;
		color: $font_color;
	}
	.saparator {
		@include saparator;
	}

	.award-gallery {
		margin: 50px 0px;

		.award {
			position: relative;
			border-radius: 5px;
			max-width: 300px;
			max-height: 180px;
			.award-card {
				overflow: hidden;
				height: auto;
				object-fit: cover;
				max-width: 300px;

				max-height: 180px;
				.card-img {
					max-width: 300px;
					height: 180px;
					img {
						max-width: 300px;
						max-height: 180px;
						object-fit: cover;
					}
				}
			}
			&:hover .overlay {
				top: 0px;
				height: 100%;
				a {
					display: block;
				}
			}
			img {
				border-radius: 5px;
			}
		}
		.overlay {
			position: absolute;
			box-sizing: border-box;
			height: 0%;
			border-radius: 5px;
			transition: 0.5s;
			bottom: 0px;
			background: rgba(8, 182, 212, 0.815);
			width: 100%;
			top: 100%;
			.links {
				display: flex;
				justify-content: center;
				margin: 50% 20px;
				gap: 10px;

				cursor: pointer;
				a {
					text-decoration: none;
					color: $text_info;
					background: #fff;
					font-size: 10px;
					height: 30px;
					width: 30px;
					line-height: 30px;
					border-radius: 100px;
					transition: all 0.3s;
					display: none;
					&:hover {
						background: $text_info;
						color: #fff !important;
					}
				}
			}
		}
	}
}
